.TotalBasket {
    min-width: 80%;
    height: 150px;
    box-shadow: 0 0 5px 5px #8f8b8b9f;
    border-radius: 7px;
    margin: auto;
    margin-top: 15px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.TotalBasket h2 {
    width: 25%;
    height: 50px;
    line-height: 50px;
    margin: 10px;
}
.TotalBasket p {
    width: 25%;
    height: 50px;
    margin: 7px;
    line-height: 50px;
    font-size: 24px;
}
.TotalBasket button {
    width: 130px;
    height: 50px;
    margin-right: 5px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 3px 3px #4e4e4e88;
    background-color: #a4d359;
    cursor: pointer;
    font-size: 1.25rem;
    &:hover {
        background-color: #b2e463;
        box-shadow: 0 0 4px 4px #4e4e4e88
    }
    &:active {
        background-color: #96bb5a;
        box-shadow: 0 0 1px 1px #4e4e4e88
    }
}
